<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.club.producer"></context:component-scan>
    <context:component-scan base-package="com.club.consumer"></context:component-scan>


    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="persi"/>
    </bean>

    <!-- 事务管理 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <qualifier value="mysqlEM"/>
    </bean>

    <!-- 开启事务管理注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="entityManagerFactorycm" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="persicm"/>
    </bean>

    <!-- 事务管理 -->
    <bean id="transactionManagercm" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactorycm"/>
        <qualifier value="sqlserverEM"/>
    </bean>


    <!-- 开启事务管理注解 -->
    <tx:annotation-driven transaction-manager="transactionManagercm"/>

    <bean id="kafkaProducerDemo" class="com.club.producer.KafkaProducerDemo">
        <constructor-arg>
            <props>
                <prop key=""></prop>
            </props>
        </constructor-arg>
        <property name="properties">
            <props>
                <prop key="topic">my-replicated-topic</prop>
                <prop key="bootstrap.servers">127.0.0.1:9092</prop>
                <prop key="acks">all</prop>
                <prop key="key.serializer">org.apache.kafka.common.serialization.StringSerializer
                </prop>
                <prop key="value.serializer">org.apache.kafka.common.serialization.StringSerializer
                </prop>
                <prop key="buffer.memory">33554432</prop>
            </props>
        </property>
    </bean>


    <bean id="kafkaConsumerDemo" class="com.club.consumer.KafkaConsumerDemo">
        <constructor-arg>
            <props>
                <prop key=""></prop>
            </props>
        </constructor-arg>

        <property name="props">
            <props>
                <prop key="topic">my-replicated-topic</prop>
                <prop key="bootstrap.servers">127.0.0.1:9092</prop>
                <prop key="group.id">group1</prop>
                <prop key="enable.auto.commit">true</prop>
                <prop key="auto.commit.interval.ms">1000</prop>
                <prop key="session.timeout.ms">30000</prop>
                <prop key="key.deserializer">org.apache.kafka.common.serialization.StringDeserializer
                </prop>
                <prop key="value.deserializer">org.apache.kafka.common.serialization.StringDeserializer
                </prop>
            </props>

        </property>
    </bean>
</beans>